---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" type="text/css" href="combo.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,700">
  {% if site.favicon %}
    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
  {% endif %}
	{% if site.touch_icon %}
    <link rel="apple-touch-icon" href="{{ site.touch_icon }}">
  {% endif %}
  <title>{{ site.title }}</title>
</head>
<body>
  <div id="main">

    <nav>
      <ul>
        {% for node in site.posts reversed %}
          {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
            <li class="p-{{id}}">
              <a href="#{{id}}">{{node.title}}</a>
            </li>
        {% endfor %}
      </ul>
    </nav>

    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.fa-icon %}
        <div class="sectiondivider">
          <i class="fas fa-{{ page.fa-icon }} fa-10x"></i>
          <h2>{{ page.title }}</h2>
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {{ page.content }}
        </div>
      </div>
    {% endfor %}

    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>

  </div>

{% include analytics.html %}
</body>
<script defer src="//use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
