{% if include.one %}
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
-- {{ include.one }}
{% elsif include.two %}
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
-- {{ include.two }}
{% elsif include.three %}
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
-- {{ include.three }}
{% elsif include.four %}
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="far fa-star fa-1x" style="color:Gold"></i>
-- {{ include.four }}
{% elsif include.five %}
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
<i class="fas fa-star fa-1x" style="color:Gold"></i>
-- {{ include.five }}
{% endif %}
